* {
  bg:                 #1A1A1A;
  shadow-light:       #2E2E2E;
  shadow-dark:        #0A0A0A;
  orange:             #FF6B1A;
  text-primary:       #F0F0F0;
  text-secondary:     #888888;
  text-muted:         #555555;

  background-color:   transparent;
  text-color:         @text-primary;
  border-color:       @shadow-light;
}

window {
  width:              360px;
  background-color:   @bg;
  border:             0;
  border-radius:      24px;
  padding:            18px;
}

mainbox {
  border:             0;
  spacing:            10px;
  background-color:   transparent;
}

inputbar {
  background-color:   @bg;
  border:             0;
  border-radius:      18px;
  padding:            10px 12px;
  children:           [prompt];
}

prompt {
  text-color:         @orange;
  font:               "Syne 700 12";
}

listview {
  border:             0;
  lines:              8;
  spacing:            6px;
  padding:            2px 0;
  scrollbar:          false;
  background-color:   transparent;
}

element {
  border:             0;
  border-radius:      18px;
  padding:            8px 12px;
  text-color:         @text-secondary;
  background-color:   transparent;
}

element selected.normal {
  border:             2px;
  border-color:       @orange;
  background-color:   @bg;
  text-color:         @text-primary;
}

element-text {
  text-color:         inherit;
  background-color:   transparent;
  font:               "DM Sans 400 12";
}
